*{
    margin:0;
    padding:0;
 }

body{
    background-color : MintCream  ;
    font: normal 14px Consolas;
}

.date {
    color:DarkSlateGrey  ;
    margin : 0px 10px 0px 0px;
}

.time {
    color:ForestGreen ;
    margin : 0px 10px 0px 0px;
}

.info {
    color:navy;
}

.error {
    color:red;
}

.warn {
    color:maroon;
}

.debug {
    color:grey;
}


table.table-bordered {
    border-collapse: collapse;
    margin-left: 20px;
    color:black;
}

table.table-bordered, table.table-bordered th, table.table-bordered td {
    border: 1px solid black;
    text-align:left;
}

table.table-bordered th, table.table-bordered td {
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
}
