0 VerPo Номер версии ПО
1 PriborType Номер исполнения прибора
2 Year Год выпуска
3 SerNumber Серийный номер
4 MaxCountReg Максимальное число регистров в таблице регистров прибора
5 EdIzmer1 Единицы измерения
6 GasType1 Величина, измеряемая
7 Shkala1 Диапазон измерений канала 1 (0-0,2 % об)
8 PredelLo1 Начало шкалы
9 PredelHi1 Конец шкалы
10 PgsCh Значение ПГС1 (начало шкалы)
11 PgsCh Значение ПГС3 (конец шкалы)
12 Ch0 Коэффициент калибровки нуля
13 ChK Коэффициент калибровки чувствительности
14 Kyskch Порог переключения постоянных времени НЧ фильтров
15 TFncCh Постоянная времени второго ФНЧ фильтра
16 Cchlin Коэфф. при 0-ой степени кривой линеаризации
17 Cchlin Коэфф. при первой степени кривой линеаризации
18 Cchlin Коэфф. при второй степени кривой линеаризации
19 Cchlin Коэфф. при третьей степени кривой линеаризации
20 RefKanal0 
21 ChKanal0 
22 KpsCh 
23 Cht0 Коэфф. при 0-ой степени полинома коррекции нуля от температуры
24 Cht0 Коэфф. при 1-ой степени полинома коррекции нуля от температуры
25 Cht0 Коэфф. при 2-ой степени полинома коррекции нуля от температуры
26 KCht0 Коэфф. при 0-ой степени полинома кор. чувств. от температуры
27 KCht1 Коэфф. при 1-ой степени полинома кор. чувств. от температуры
28 KCht2 Коэфф. при 2-ой степени полинома кор. чувств. от температуры
29 TcalzeroNku Температура последней корректировку нуля в НКУ при настройке
30 ChNku0 Коэффициент калибровки нуля канала СН в НКУ при настройке
31 HeatingTimeMin Время прогрева, мин
32 Restart Флаг первого включения
33 Selfaddr Сетевой адрес
34 Tcalzero Температура последней корректировки >0<
35 MadSafe Флаг включения защиты от некорректной калибровки
36 TFncTT Постоянная времени ФНЧ фильтра канала T
37 TFncPP Постоянная времени ФНЧ фильтра канала P
38 KdreyfCh Коэф. переключения на корр. дрейфа СН
39 TDreyfCch Дискретизация определения скорости изменения Cch (1*1,25 с)
40 TDelayDreyfCch Задрж. вкл. компенс. дрейфа нуля п. перех. про-цесса изменения конц. Cch (1*1,25 с)
41 TFnc Постоянная времени ФНЧ рабочего канала
42 Q Добротность ПФ рабочего канала
43 Kw Нормировачный коэффициент для рабочего канала
44 Kr Нормировачный коэффициент для сравнительного канала
45 Cb Постоянная времени ФНЧ сравнительного канала
46 Cc Добротность ПФ сравнительного канала
47 Da не используется
48 Db Коэфф. при 3-ей степени полинома коррекции нуля от температуры
49 Dc Коэфф. при 3-ей степени полинома кор. чувств. от температуры
50 Substance Определяемое вещество
51 Polinom1 Пропан
52 A1 
53 B1 
54 C1 
55 D1 
56 K1 
57 Polinom2 Газ сжиженный
58 A2 
59 B2 
60 C2 
61 D2 
62 K2 
63 Polinom3 Этан
64 A3 
65 B3 
66 C3 
67 D3 
68 K3 
69 PolinomN4 n-Бутан
70 A4 
71 B4 
72 C4 
73 D4 
74 K4 
75 PolinomI5 i-Бутан
76 A5 
77 B5 
78 C5 
79 D5 
80 K5 
81 Polinom6 Пентан
82 A6 
83 B6 
84 C6 
85 D6 
86 K6 
87 Polinom7 Гексан
88 A7 
89 B7 
90 C7 
91 D7 
92 K7 
93 Polinom8 
94 A8 
95 B8 
96 C8 
97 D8 
98 K8 
99 Polinom9 
100 A9 
101 B9 
102 C9 
103 D9 
104 K9 
105 Polinom10 
106 A10 
107 B10 
108 C10 
109 D10 
110 K10 
111 Polinom11 
112 A11 
113 B11 
114 C11 
115 D11 
116 K11 
117 Polinom12 
118 A12 
119 B12 
120 C12 
121 D12 
122 K12 
123 Polinom13 
124 A13 
125 B13 
126 C13 
127 D13 
128 K13 
129 Polinom14 
130 A14 
131 B14 
132 C14 
133 D14 
134 K14 
135 Polinom15 
136 A15 
137 B15 
138 C15 
139 D15 
140 K15 
141 Polinom16 
142 A16 
143 B16 
144 C16 
145 D16 
146 K16 
147 Polinom17 
148 A17 
149 B17 
150 C17 
151 D17 
152 K17 
153 Polinom18 
154 A18 
155 B18 
156 C18 
157 D18 
158 K18 
159 Polinom19 
160 A19 
161 B19 
162 C19 
163 D19 
164 K19 
165 Polinom20 
166 A20 
167 B20 
168 C20 
169 D20 
170 K20 
171 LinSub0 
172 LinSub0 
173 LinSub0 
174 LinSub0 
175 Polinom 
